build
__pycache__
mmfreelm.egg-info
*.svg 
*.stdout
*.folded
trace*.json
*.csv
*.txt
!GPU_MEMORY_NOTES.txt
graphs/
*.png
*.sqlite
venv/
*.nsys-rep
*.qdstrm
*.log
!tensorrt_changes.log
*.pdf
nsys_runs/
ncu_runs/
